<h1>This page will add items</h1>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
</head>
<body>

<div class="container">
  <h2>Add item</h2>
  <form action="/dashboard/additem" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" name="itemName" placeholder="Item Name">
    </div>
    <div class="form-group">
      <button type="submit"class="btn btn-primary btn-lg btn-block"> Submit </button>
    </div>
    <div class="form-group">
    </div>
    <a href= "/"> Go back </a>
  </form>
</div>

</body>
</html>
